body {
    background-color: #1A3C40;
    color: #EDE6DB;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

#about{
    background-color: #417D7A;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.profile-picture {
    border-radius: 50%;
    width: 60%;
    border: #EDE6DB;
    border-style: solid;
    border-width: .5rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

#projects {
    background-color: #EDE6DB;
    color: #417D7A;
    padding-top: 6rem;
}

.navbar {
    padding: 1rem;
    background-color: #1A3C40;
}

.nav-item {
    padding: 0 1.5rem;
}

.flex {
    display:flex;
    justify-content: center;
}

.flex h1 {
    font-size: calc(2rem + 4vw);
    padding: 6rem .5rem .5rem 0;
}

.flex h6 {
    text-align: right;
    font-size: calc(1rem + 2vw);
    padding: 0rem .5rem .5rem 0;
}

.card {
    background-color: #417D7A;
    color: #EDE6DB;
    margin-top: 1rem;
}

.card-title {
    font-size: 2rem;
}

a.nostyle {
    text-decoration: inherit;
    color: inherit;
}

.waves1 {
    background-color: #1A3C40;
    aspect-ratio: 2560/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/background-waves.svg');
}

.waves2 {
    background-color: #417D7A;
    aspect-ratio: 2560/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/background-waves2.svg');
}

footer {
    background-color: #EDE6DB;
    padding: 5% 0% 1%;
    text-align: center;
}

footer a, footer a:hover {
    color: #417D7A;
    font-size: 2rem;
}

.footer-icon {
    margin:2rem
}